<div class="container-fluid" [style.background-color]="'blue'" [style.font-size] = "'30px'"  [style.color] = "'yellow'" >
<h1 [style.text-align]="'center'" >WELCOME TO QUOTESROOM</h1>
<p [style.text-align]="'center'"  [style.fontsize] = "'30px'">-Quotes have helped shape and navigate the lives of many.Type a qoute you know,the author and change a life too.-</p>
</div>
<div class="container" [style.color]="'blue'" [style.background-color]="'yellow'" [style.display]="'block'" [style.font-size]="'30px'">
  <ul>
    <div *ngFor = 'let quote of quote;let i = index'>
      <li appBackgroundColor>{{quote.quote}}</li>
      <button (click)='toggleDetails(i)'>Toggle Details</button>
      <app-detail *ngIf = 'quote.showDescription' [quote] = 'quote' (isComplete) = 'completeQuote($event,i)'></app-detail>
</div>
    <div class="container">
  <app-form (addQuote)="addNewQuote($event)"></app-form>

</div>
  </ul>
</div>


